[Unit]
Description=Geoint Services Jupyterhub
After=network.service

[Service]
User=gsjhub
Group=gsjhub
ExecStart=/usr/bin/jupyterhub -f /etc/gsjhub/jupyterhub_config.py
WorkingDirectory=/var/run/gsjhub
Restart=always

[Install]
WantedBy=multi-user.target
